body {
    margin: 0;
    background-image: url('original.gif');
    background-size: 100px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
    text-align: center;
    color: dimgray;
}

h2 {
    margin-left: 2px;
    margin-top: 10px
}

a {
    text-decoration: none;
    color: blue;
    border-radius: 8px;
    border-style: groove;
    border-color: green;
    background-color: navajowhite;
}

img {
    border-radius: 10px;
    border-style: solid;
    border-color: purple;
}

li {
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding-left: 30px;
}

div {
    margin: 0;
}

ol {
    color: green;
    margin: 0;
    padding-top: 20px;
}

.container1 {
    width: 100vw;
    display: grid;
    grid-template-columns: 50px 150px 1fr;
    height: 50px;
}

.container2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
  
}

.item {
    background-color: white;
    transition: 1s;
}

#box {
    position: absolute;
    width: 271px;
    height: 168px;
    margin-left: -50px;
    background-image: url('original.gif');
    color: #fff;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform-origin: bottom;
}

#box3 {
    position: absolute;
    width: 271px;
    height: 168px;
    margin-left: -50px;
    background-image: url('original.gif');
    color: #fff;
    transform-origin: center;
}

#box2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 91px;
    height: 56px;
    margin-left: -50px;
    background-image: url('original.gif');
    background-size: 100%;
    color: #fff;
    transition: 0.5s;
    transform-origin: center;
}

#MainList {
    position: absolute;
    border-right: 5px solid black;
  
    display: flex;
    transform-origin: left;
    top: 50px;
    height: 90vh;
    width: 200px;
    display: flex;
}


#sodyd {

    padding-top: 30px;
    transform-origin: center;
    padding-left: 230px;
    width: 100vw;
    height: 90vh;
    padding-top: 30px;

}

#menu {

    cursor: pointer;

    background-image: url('Hamburger_icon.svg');
    background-size: 48px 48px;
}

#title {

}

@media(min-width:850px) {
}

@-webkit-keyframes momo {
    0% {
        left: 10px;
        top: 10px;
    }

    100% {
        left: 10px;
        top: 10px;
    }
}


@-webkit-keyframes anime {
    0% {
        left: 0px;
        bottom: 0px;
    }

    50% {
        bottom: 300px;
    }

    100% {
        left: 300px;
        bottom: 0px;
    }
}


@keyframes tete {
    from {
        left: -100px;
    }

    to {
        left: 100px;
    }
}

@-webkit-keyframes anime2 {
    0% {
    }

    50% {
    }

    100% {
        transform: scaleX(-1);
    }

}
@media(max-width:850px) {
    #MainList {
        border-bottom: double 10px yellow;
    }
}