

body {
    margin: 0;
}

h1 {
    
    margin: 0;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
    color: dimgray;
}

a {
    padding:5px;
    text-decoration: none;
    color: blue;
    border-radius: 8px;
    border-style: groove;
    border-color: green;
    background-color: navajowhite;
    
}

img {
    border-radius: 10px;
    border-style: solid;
    border-color: purple;
}

li {
    margin-bottom: 20px;
}

@media(min-width:850px) {
    #MainGrid{
        display:grid;
        grid-template-columns: 200px 1fr;
    }
    #grid_1 {
        display:grid;
        grid-template-columns: 200px 1fr;

    }
}
@-webkit-keyframes anime {
    0% {
        left: 0px;
        bottom:0px;
    }
    50%{
      
        bottom:300px;
    }

    100% {
        left: 300px;
        bottom:0px;
        transform: scaleX(-1);
    }
}

#box {    
    position: absolute;
    width: 273px;
    height: 168px;
    margin-left: -50px;
    background-image: url('original.gif');
    color: #fff;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@media(max-width:850px) {
    #MainList {
       
       border-bottom:double 10px yellow;
    }
}

p {
    margin: 0;
    padding-left: 30px;
}

div {
    margin: 0;
}

#MainList {
    border-right: 1px solid black;
}

ol {
    color: green;
    margin: 0;
    padding-top: 20px;
}

#sodyd {
    margin: 20px;
}

